@import 'null.scss';
@import 'ui.scss';
@import 'var.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.popup-wrapper {
    background-color: rgba(37, 37, 37, 0.75);
    backdrop-filter: blur(6px);

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 65px;
    @media (max-width: 767.98px) {
        padding: 56px 15px;
    }
    overflow-y: auto;
    overflow-x: hidden;
}

.popup {
    max-width: 550px;
    width: 100%;
    margin: auto 0;

    position: relative;

    font-family: Inter;

    &__wrapper {
        border: 1px solid #DEE2E6;
        display: flex;
        flex-direction: column;
    
        background-color: #F8F9FA;
        overflow: hidden;
        border-radius: 11px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.20);
    }

    &_first {
        h2 {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);

                width: 72px;
                height: 10px;

                background: url('../img/decor/title-decor.svg') 100% no-repeat;
            }
        }

        p {
            margin: 0 !important;
            margin-bottom: 42px !important;
            z-index: 4;
            @media (max-width: 767.98px) {
                margin-bottom: calc(16px + (42 - 16) * ((100vw - 320px) / (767.98 - 320)));
            }
        }
        .popup__body {

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url('../img/decor/first-bg.svg') no-repeat 100%;

                opacity: .3;
            }
            
        }
    }

    &__close-btn {
        background-color: transparent;

        position: absolute;
        top: -26px;
        right: -56px;

        width: 26px;
        height: 26px;

        transition: opacity ease .3s;

        @media (max-width: 767.98px) {
            right: 0;
            top: -44px;
        }

        &:hover {
            opacity: .6;
        }
    }

    &__body {
        padding: 46px 62px;
        @media (max-width: 767.98px) {
            padding-left: calc(16px + (62 - 16) * ((100vw - 320px) / (767.98 - 320)));
            padding-right: calc(16px + (62 - 16) * ((100vw - 320px) / (767.98 - 320)));
            padding-top: calc(26px + (46 - 26) * ((100vw - 320px) / (767.98 - 320)));
            padding-bottom: calc(26px + (46 - 26) * ((100vw - 320px) / (767.98 - 320)));
        }

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        h2, h3, h4 {
            font-size: 32px;
            font-weight: 600;
            color: #2B3035;
            z-index: 5;

            text-align: center;

            @media (max-width: 767.98px) {
                font-size: calc(26px + (32 - 26) * ((100vw - 320px) / (767.98 - 320)));
            }
        }

        p {
            z-index: 5;
            color: #2B3035;
            text-align: center;
            font-size: 18px;
            @media (max-width: 767.98px) {
                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767.98 - 320)));
            }
            font-weight: 300;
            line-height: 140%;

            margin: 28px 0;
        }
    }

    // .popup__bottom
    &__bottom {
        display: flex;
        height: 70px;
        z-index: 99;
    }
    // .popup__button
    &__button {
        flex: 1 1 50%;

        font-size: 20px;
        padding: 4px 6px;
        @media (max-width: 767.98px) {
            font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (767.98 - 320)));
        }
        font-weight: 400;
        color: #fff;

        transition: color ease .3s, background-color ease .3s;

        text-align: center;

        // .popup__button_blue
        &_blue {
            background-color: $blue;

            &:hover {
                background-color: #6EA8FE;
            }
        }
        // .popup__button_gray
        &_gray {
            background-color: #87939F;

            &:hover {
                background-color: #737C84;
            }
        }

        &:disabled {
            pointer-events: none;
            background-color: #87939F;
            color: #C0C8D0;
        }
    }

    .icon-app {
        margin: 32px 0 28px 0;

        width: 120px;
        height: 120px;
        border-radius: 22px;

        position: relative;

        &::after {
            content: '';
            position: absolute;

            bottom: -17px;
            right: -22px;
            width: 51px;
            height: 46px;
            background: url('../img/decor/icon-decor.svg') no-repeat 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &.dark {
        .popup__wrapper {
            border: 1px solid #495057;
            background-color: #2B3035;
        }
        .popup__decor {
            opacity: .6;
        }
        .popup__body {
            p, h2, h3, h4 {
                color: #fff;
            }
        }
        .popup__button {
            &_gray {
                background-color: #495057;
                color: #fff;

                &:hover {
                    background-color: #666E76;
                }
            }

            &:disabled {
                pointer-events: none;
                background-color: #495057;
                color: #8EA3B7;
            }
        }

        .popup-labels_label {
            color: #fff;
            border: 1px solid #fff;
        }
        .popup-qr-code  {
            border: 2px solid #fff;
        }

        .popup-link__link {
            background-color: #333940;
        }

        .popup-code__field {
            color: #fff;
        }
    }
}


.popup {
    // .popup__decor-wrapper
    &__decor-wrapper {
        animation: decorAnim ease infinite 8s;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        position: absolute;
    }
    &__decor-wrapper-red {
        animation: decorAnim ease infinite 10s;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        .popup__decor {
            position: absolute;
            background-color: rgba(255, 84, 46, 0.3) !important;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            filter: blur(40px);
            z-index: -1;

            &:nth-child(1) {
                top: -74px;
                left: -83px;
            }
            &:nth-child(2) {
                bottom: -50px;
                top: auto;
                right: -100px;
            }
        }
    }
    // .popup__decor
    &__decor {
        position: absolute;
        background-color: rgba(110, 168, 254, 0.3);
        border-radius: 50%;
        filter: blur(40px);
        z-index: -1;

        width: 122px;
        height: 122px;

        &:nth-child(1) {
            bottom: 0;
            left: -14px;
        }
        &:nth-child(2) {
            top: 37px;
            right: -26px;
        }
    }
}

@keyframes decorAnim {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

.popup-labels {
    z-index: 5;

    display: flex;
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;

    input {
        display: none;
    }

    // .popup-labels_label
    &_label {
        height: 55px;
        width: 185px;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 28px;

        font-size: 20px;
        font-weight: 300;

        color: #2B3035;
        border: 1px solid #2B3035;

        transition: background-color ease .3s, color ease .3s, font-weight ease .3s, border ease .3s;

        &:hover {
            background-color: rgba(110, 168, 254, 0.3);
        }
    }
}

#android-choose:checked ~ #android-choose-l {
    background-color: $blue;
    border: 1px solid $blue;
    color: #fff;
    font-weight: 500;
}
#ios-choose:checked ~ #ios-choose-l {
    background-color: $blue;
    border: 1px solid $blue;
    color: #fff;
    font-weight: 500;
}

.popup-qr-code {
    width: 124px;
    height: 124px;
    border-radius: 10px;
    overflow: hidden;

    z-index: 5;

    border: 2px solid #2B3035;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.popup-link {
    padding: 6px 8px;
    z-index: 5;

    border: 3px solid $blue;
    border-radius: 10px;

    // .popup-link__link
    &__link {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 8px 26px;
        border-radius: 5px;

        background-color: #fff;

        font-size: 18px;
        font-family: 500;
        color: $blue;
    }
    // .popup-link__icon
    &__icon {
    }
}

.popup-final-icon {
    width: 115px;
    height: 115px;
    z-index: 5;

    margin-bottom: 35px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.popup-code {
    display: flex;
    z-index: 5;
    gap: 12px;
    height: 50px;
    @media (max-width: 767.98px) {
        gap: calc(8px + (12 - 8) * ((100vw - 320px) / (767.98 - 320)));
        height: calc(34px + (50 - 34) * ((100vw - 320px) / (767.98 - 320)));
    }

    // .popup-code__field
    &__field {
        width: 38px;
        border-radius: 4px;
        border: 2px solid #6E7781;
        background-color: transparent;
        text-align: center;

        font-size: 26px;
        font-weight: 700;

        @media (max-width: 767.98px) {
            font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (767.98 - 320)));
            width: calc(24px + (38 - 24) * ((100vw - 320px) / (767.98 - 320)));
        }

        transition: border ease .3s, box-shadow ease .3s;

        &:focus {
            box-shadow: 0px 0px 0px 3px rgba(110, 119, 129, 0.3);
        }

        &:disabled {
            pointer-events: none;
        }

        &.active {
            border: 2px solid $blue;
            box-shadow: 0px 0px 0px 3px rgba(110, 168, 254, 0.30);
        }
    }
}
